<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eunhome">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- 안드로이드 api 28 부터는 http는 차단시키기 때문에 허용시켜줘야함 -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity android:name=".CCTVActivity"></activity>
        <activity android:name=".DeviceRegisteringReActivity"/>
        <activity
            android:name=".LightActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DeviceReConnectActivity"/>
        <activity android:name=".RegisteringSuccessActivity" />
        <activity android:name=".RegisteringDeviceActivity" />
        <activity
            android:name=".DeviceSettingActivity"
            android:parentActivityName=".DeviceAddActivity" />
        <activity
            android:name=".DeviceAddActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PubSubActivity" />
        <activity android:name=".StartActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>